{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot - College Help Portal</title>
  <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
</head>
<body>

<header>
  <div class="logo">
    <a href="{% url 'base' %}">
      <img src="{% static 'images/Portal_Logo.svg' %}" alt="Logo" />
      | COLLEGE HELP PORTAL
    </a>
  </div>
</header>



<main class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-window" id="chat-window">
      
      {% if query %}
        
        <div class="message user">{{ query }}</div>
        <div class="message bot">{{ response }}</div>
      {% else %}
        
        <div class="message bot">
          Hello 👋 I’m your College Help Assistant. How can I help?
        </div>
      {% endif %}
    </div>
<!-- 
    <form class="chat-input" id="chat-form" method="post">
      {% csrf_token %}
      <input type="text" id="user-input" name="message" placeholder="Type your message..." required>
      <button type="submit">🫆</button>
    </form> -->

    <form class="chat-input" method="post">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Type your message..." required>
    <button type="submit">🫆</button>
</form>

  </div>
</main>


    
 

</body>
</html>
